.l-header {
  background: var(--dark-blue, #005564);
  display: flex;
  height: 120px;
  padding: 0px 52px 0px 53px;
  justify-content: center;
  align-items: center;
  transition: background 0.3s;
}

.l-header-yellow.is-active {
  background: var(--yellow, #fce757);
  .header-title {
    color: var(--dark-blue, #005564);
  }
}

.l-cards {
  background: var(--green, #a0d187);
  transition: background 0.3s;
}

.l-about {
  background: var(--light-blue, #c0d9d9);
  padding: 40px 52px;
}

.l-card-red.is-active {
  background: var(--red, #cf9697);
}

.l-card-blue.is-active {
  background: var(--light-blue, #c0d9d9);
}
